<?xml version="1.0" encoding="utf-8" ?>
<log4net>
  <root>
    <level value="ALL" />
    <appender-ref ref="InfoLog" />
    <appender-ref ref="WarningLog" />
    <appender-ref ref="ErrorLog" />
  </root>
  <appender name="InfoLog" type="log4net.Appender.RollingFileAppender">
    <file value="C:\Logs\API.TaskListAdmin\LogInfo.Log" />
    <filter type="log4net.Filter.LevelRangeFilter">
      <levelMin value="INFO"/>
      <levelMax value="INFO"/>
    </filter>
    <appendToFile value="true" />
    <rollingStyle value="Date" />
    <maxSizeRollBackups value="30" />
    <datePattern value="yyyy-MM-dd'.log'" />
    <staticLogFileName value="false" />
    <layout type="log4net.Layout.PatternLayout">
      <conversionPattern value="%level|%d{yyyy-MM-dd HH:mm:ss}:%message%newline%exception%newline" />
    </layout>
  </appender>
  <appender name="WarningLog" type="log4net.Appender.RollingFileAppender">
    <file value="C:\Logs\API.TaskListAdmin\LogWarning.Log" />
    <filter type="log4net.Filter.LevelRangeFilter">
      <levelMin value="WARN"/>
      <levelMax value="WARN"/>
    </filter>
    <appendToFile value="true" />
    <rollingStyle value="Date" />
    <maxSizeRollBackups value="30" />
    <datePattern value="yyyy-MM-dd'.log'" />
    <staticLogFileName value="false" />
    <layout type="log4net.Layout.PatternLayout">
      <conversionPattern value="%level|%d{yyyy-MM-dd HH:mm:ss}:%message%newline%exception%newline" />
    </layout>
  </appender>
  <appender name="ErrorLog" type="log4net.Appender.RollingFileAppender">
    <file value="C:\Logs\API.TaskListAdmin\LogError.Log" />
    <filter type="log4net.Filter.LevelRangeFilter">
      <levelMin value="ERROR"/>
      <levelMax value="FATAL"/>
    </filter>
    <appendToFile value="true" />
    <rollingStyle value="Date" />
    <maxSizeRollBackups value="30" />
    <datePattern value="yyyy-MM-dd'.log'" />
    <staticLogFileName value="false" />
    <layout type="log4net.Layout.PatternLayout">
      <conversionPattern value="%level|%d{yyyy-MM-dd HH:mm:ss}:%message%newline%exception%newline" />
    </layout>
  </appender>
</log4net>